In [1]:
'''This is a movie recommendation system.
https://acodeforthought.wordpress.com/2016/12/26/building-a-simple-recommender-system-with-movie-lens-data-set/
It uses MovieLens data.

6/10/19
This is more like a movie rating system, not recommendation.
'''

'This is a movie recommendation system.\nhttps://acodeforthought.wordpress.com/2016/12/26/building-a-simple-recommender-system-with-movie-lens-data-set/\nIt uses MovieLens data.\n\n6/10/19\nThis is more like a movie rating system, not recommendation.\n'

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#column headers for the dataset
data_cols = ['user id','movie id','rating','timestamp']
item_cols = ['movie id','movie title','release date',
'video release date','IMDb URL','unknown','Action',
'Adventure','Animation','Childrens','Comedy','Crime',
'Documentary','Drama','Fantasy','Film-Noir','Horror',
'Musical','Mystery','Romance ','Sci-Fi','Thriller',
'War' ,'Western']
user_cols = ['user id','age','gender','occupation',
'zip code']

#importing the data files onto dataframes
users = pd.read_csv('Desktop/ml-100k/u.user', sep='|',
names=user_cols, encoding='latin-1')
item = pd.read_csv('Desktop/ml-100k/u.item', sep='|',
names=item_cols, encoding='latin-1')
data = pd.read_csv('Desktop/ml-100k/u.data', sep='\t',
names=data_cols, encoding='latin-1')

In [3]:
#printing the head of these dataframes
print(users.head())

   user id  age gender  occupation zip code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [4]:
print(item.head())

   movie id        movie title release date  video release date  \
0         1   Toy Story (1995)  01-Jan-1995                 NaN
1         2   GoldenEye (1995)  01-Jan-1995                 NaN
2         3  Four Rooms (1995)  01-Jan-1995                 NaN
3         4  Get Shorty (1995)  01-Jan-1995                 NaN
4         5     Copycat (1995)  01-Jan-1995                 NaN

                                            IMDb URL  unknown  Action  \
0  http://us.imdb.com/M/title-exact?Toy%20Story%2...        0       0
1  http://us.imdb.com/M/title-exact?GoldenEye%20(...        0       1
2  http://us.imdb.com/M/title-exact?Four%20Rooms%...        0       0
3  http://us.imdb.com/M/title-exact?Get%20Shorty%...        0       1
4  http://us.imdb.com/M/title-exact?Copycat%20(1995)        0       0

   Adventure  Animation  Childrens   ...     Fantasy  Film-Noir  Horror  \
0          0          1          1   ...           0          0       0
1          1          0          0   ...           0          0       0
2          0          0          0   ...           0          0       0
3          0          0          0   ...           0          0       0
4          0          0          0   ...           0          0       0

   Musical  Mystery  Romance   Sci-Fi  Thriller  War  Western
0        0        0         0       0         0    0        0
1        0        0         0       0         1    0        0
2        0        0         0       0         1    0        0
3        0        0         0       0         0    0        0
4        0        0         0       0         1    0        0

[5 rows x 24 columns]

In [5]:
print(data.head())

   user id  movie id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596

In [6]:
print(users.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943 entries, 0 to 942
Data columns (total 5 columns):
user id       943 non-null int64
age           943 non-null int64
gender        943 non-null object
occupation    943 non-null object
zip code      943 non-null object
dtypes: int64(2), object(3)
memory usage: 36.9+ KB
None

In [7]:
print(item.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1682 entries, 0 to 1681
Data columns (total 24 columns):
movie id              1682 non-null int64
movie title           1682 non-null object
release date          1681 non-null object
video release date    0 non-null float64
IMDb URL              1679 non-null object
unknown               1682 non-null int64
Action                1682 non-null int64
Adventure             1682 non-null int64
Animation             1682 non-null int64
Childrens             1682 non-null int64
Comedy                1682 non-null int64
Crime                 1682 non-null int64
Documentary           1682 non-null int64
Drama                 1682 non-null int64
Fantasy               1682 non-null int64
Film-Noir             1682 non-null int64
Horror                1682 non-null int64
Musical               1682 non-null int64
Mystery               1682 non-null int64
Romance               1682 non-null int64
Sci-Fi                1682 non-null int64
Thriller              1682 non-null int64
War                   1682 non-null int64
Western               1682 non-null int64
dtypes: float64(1), int64(20), object(3)
memory usage: 315.5+ KB
None

In [8]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
user id      100000 non-null int64
movie id     100000 non-null int64
rating       100000 non-null int64
timestamp    100000 non-null int64
dtypes: int64(4)
memory usage: 3.1 MB
None

In [9]:
#Create one data frame from the three
dataset = pd.merge(pd.merge(item, data),users)
print(dataset.head())

   movie id            movie title release date  video release date  \
0         1       Toy Story (1995)  01-Jan-1995                 NaN
1         4      Get Shorty (1995)  01-Jan-1995                 NaN
2         5         Copycat (1995)  01-Jan-1995                 NaN
3         7  Twelve Monkeys (1995)  01-Jan-1995                 NaN
4         8            Babe (1995)  01-Jan-1995                 NaN

                                            IMDb URL  unknown  Action  \
0  http://us.imdb.com/M/title-exact?Toy%20Story%2...        0       0
1  http://us.imdb.com/M/title-exact?Get%20Shorty%...        0       1
2  http://us.imdb.com/M/title-exact?Copycat%20(1995)        0       0
3  http://us.imdb.com/M/title-exact?Twelve%20Monk...        0       0
4     http://us.imdb.com/M/title-exact?Babe%20(1995)        0       0

   Adventure  Animation  Childrens    ...     Thriller  War  Western  user id  \
0          0          1          1    ...            0    0        0      308
1          0          0          0    ...            0    0        0      308
2          0          0          0    ...            1    0        0      308
3          0          0          0    ...            0    0        0      308
4          0          0          1    ...            0    0        0      308

   rating  timestamp  age  gender  occupation  zip code
0       4  887736532   60       M     retired     95076
1       5  887737890   60       M     retired     95076
2       4  887739608   60       M     retired     95076
3       4  887738847   60       M     retired     95076
4       5  887736696   60       M     retired     95076

[5 rows x 31 columns]

In [10]:
ratings_total = dataset.groupby('movie title').size()
print(ratings_total.head())

movie title
'Til There Was You (1997)      9
1-900 (1994)                   5
101 Dalmatians (1996)        109
12 Angry Men (1957)          125
187 (1997)                    41
dtype: int64

In [11]:
ratings_mean = (dataset.groupby('movie title'))['movie title','rating'].mean()
print(ratings_mean.head())

                             rating
movie title
'Til There Was You (1997)  2.333333
1-900 (1994)               2.600000
101 Dalmatians (1996)      2.908257
12 Angry Men (1957)        4.344000
187 (1997)                 3.024390

In [12]:
#modify the dataframes so that we can merge the two
ratings_total = pd.DataFrame({'movie title':ratings_total.index,
'total ratings': ratings_total.values})
ratings_mean['movie title'] = ratings_mean.index

In [14]:
final = pd.merge(ratings_mean, ratings_total).sort_values(by = 'total ratings',
ascending= False)
print(final.head())

        rating                movie title  total ratings
1398  4.358491           Star Wars (1977)            583
333   3.803536             Contact (1997)            509
498   4.155512               Fargo (1996)            508
1234  4.007890  Return of the Jedi (1983)            507
860   3.156701           Liar Liar (1997)            485

In [15]:
print(final.describe())

            rating  total ratings
count  1664.000000    1664.000000
mean      3.077018      60.096154
std       0.780418      80.956484
min       1.000000       1.000000
25%       2.665094       7.000000
50%       3.162132      27.000000
75%       3.651808      80.250000
max       5.000000     583.000000

In [16]:
final = final[:300].sort_values(by = 'rating',
ascending = False)
print(final.head())

        rating                       movie title  total ratings
1281  4.466443           Schindler's List (1993)            298
1652  4.466102        Wrong Trousers, The (1993)            118
273   4.456790                 Casablanca (1942)            243
1317  4.445230  Shawshank Redemption, The (1994)            283
1215  4.387560                Rear Window (1954)            209

In [18]:
print(final)

        rating                                        movie title  \
1281  4.466443                            Schindler's List (1993)
1652  4.466102                         Wrong Trousers, The (1993)
273   4.456790                                  Casablanca (1942)
1317  4.445230                   Shawshank Redemption, The (1994)
1215  4.387560                                 Rear Window (1954)
1572  4.385768                         Usual Suspects, The (1995)
1398  4.358491                                   Star Wars (1977)
3     4.344000                                12 Angry Men (1957)
303   4.292929                                Citizen Kane (1941)
1507  4.292237                       To Kill a Mockingbird (1962)
1102  4.291667             One Flew Over the Cuckoo's Nest (1975)
1329  4.289744                   Silence of the Lambs, The (1991)
1077  4.284916                          North by Northwest (1959)
612   4.283293                              Godfather, The (1972)
1295  4.265432                              Secrets & Lies (1996)
621   4.262626                           Good Will Hunting (1997)
936   4.259542                   Manchurian Candidate, The (1962)
433   4.252577  Dr. Strangelove or: How I Learned to Stop Worr...
1205  4.252381                     Raiders of the Lost Ark (1981)
1580  4.251397                                     Vertigo (1958)
1500  4.245714                                     Titanic (1997)
851   4.231214                          Lawrence of Arabia (1962)
926   4.210145                         Maltese Falcon, The (1941)
456   4.204360                    Empire Strikes Back, The (1980)
209   4.203980                                   Boot, Das (1981)
1342  4.198529                                 Sling Blade (1996)
613   4.186603                     Godfather: Part II, The (1974)
27    4.184211                          African Queen, The (1951)
232   4.175758               Bridge on the River Kwai, The (1957)
301   4.173554                             Cinema Paradiso (1988)
...        ...                                                ...
770   3.126984                   James and the Giant Peach (1996)
1274  3.123418                                  Saint, The (1997)
1390  3.111111         Star Trek III: The Search for Spock (1984)
411   3.108333                            Devil's Own, The (1997)
43    3.096774                         Alien: Resurrection (1997)
690   3.087591                                  Home Alone (1990)
1020  3.087156                              Murder at 1600 (1997)
435   3.082278                                 Dragonheart (1996)
644   3.040541                            Grumpier Old Men (1995)
1396  3.034188               Star Trek: The Motion Picture (1979)
235   3.031496                                Broken Arrow (1996)
527   3.018750                       First Wives Club, The (1996)
1048  3.008333                                    Net, The (1995)
476   2.980695                                       Evita (1996)
1043  2.953125                        Natural Born Killers (1994)
891   2.943038              Lost World: Jurassic Park, The (1997)
378   2.933333                                Dante's Peak (1997)
1085  2.914110                        Nutty Professor, The (1996)
505   2.898438                 Father of the Bride Part II (1995)
945   2.847926                               Mars Attacks! (1996)
1018  2.835821                                Multiplicity (1996)
1588  2.808219                                     Volcano (1997)
143   2.788462             Beavis and Butt-head Do America (1996)
587   2.685185                        George of the Jungle (1997)
134   2.683099                              Batman Returns (1992)
133   2.666667                              Batman Forever (1995)
1369  2.615385                                       Spawn (1997)
471   2.574803                               Event Horizon (1997)
348   2.546875                                       Crash (1996)
794   2.439394                               Jungle2Jungle (1997)

      total ratings
1281            298
1652            118
273             243
1317            283
1215            209
1572            267
1398            583
3               125
303             198
1507            219
1102            264
1329            390
1077            179
612             413
1295            162
621             198
936             131
433             194
1205            420
1580            179
1500            350
851             173
926             138
456             367
209             201
1342            136
613             209
27              152
232             165
301             121
...             ...
770             126
1274            316
1390            171
411             240
43              124
690             137
1020            218
435             158
644             148
1396            117
235             254
527             160
1048            120
476             259
1043            128
891             158
378             240
1085            163
505             128
945             217
1018            134
1588            219
143             156
587             162
134             142
133             114
1369            143
471             127
348             128
794             132

[300 rows x 3 columns]

In [17]:
print('The end')

The end